CommonTest/Debug/
CommonTest/Release/
*.ipch
*-VAIO.*.user
*.opensdf
*.sdf
*.suo
*.old
Web/WebSiteRazor1/
Web/WebAppProject/bin/
Web/WebAppProject/obj/
Web/HtmlForm/
Web/MsdnExamples/
MemoryFragmentationTest/bin 
MemoryFragmentationTest/obj
GraphTest/Debug/
GraphTest/Release/
GraphTest/ipch/
SysTryApp/obj