
    <div class="about111">
        <a>about  1</a><br/>
        <a>about 2</a><br/>
        about 3<br/>
        about 1<br/>
        about 2<br/>
        about 3<br/>
        about 1<br/>
        about 2<br/>
        about 3<br/>
    </div>


@*
<div class="parent">
    <div class="left_l1">
        <a>left 1</a><br/>
        <a>left 2</a><br/>
        left 3<br/>
        left 1<br/>
        left 2<br/>
        left 3<br/>
        left 1<br/>
        left 2<br/>
        left 3<br/>
    </div>

    <div class="right_l1">
         <header class="right_header">
            <div id="title r1">
                <h2>right_header h2</h2>
            </div>
            <div id="title r2">
                <h3>right_header h3</h3>
            </div>
        </header>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </nav>
        <div class ="configbody">
            @RenderBody()
        </div>
    </div>
</div>*@
