@*

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TestPage1</title>
    <link href="@Url.Content("~/Content/test_page1_style.css")" rel="stylesheet" type="text/css" />

</head>
<body>

<div class="div_page">
*@

<div class="div_left_right_wrapper">
    <div class="div_left_menu">
            <div class="menu_left_wrapper">
                    left 1</br>
                    left 2</br>
                    left 3</br>
                <ul id="menu" class="menu-sidemenu">
                    <li class="li"><a href="/index.php/management/project-management"><span>Project Management ac</span></a></li>
                    <li class="li"><a href="/index.php/management/vendor-management"><span>Vendor Management</span></a></li>
                    <li class="li"><a href="/index.php/management/system-and-process-redesign"><span>System and Process Redesign</span></a></li>
                    <li class="li"><a href="/index.php/management/strategic-planning"><span>Strategic Planning	</span></a></li>
                    <li class="li"><a href="/index.php/management/client-relationship-management"><span>Client Relationship Management</span></a></li>
                 </ul>
            </div>
    </div>

    <div class="div_right_wrapper">
        right 1</br>
        right 2</br>
        right 3</br>
    </div>

</div>
@*
</div>


</body>
</html>
*@